<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'City name is, ' + ${name} + '!'" />

    <h1>Csc list</h1>

    <table>
        <tr>
            <th>NAME</th>
            <th>DESCRIPRTION</th>
            <th>PARAMS</th>
        </tr>
        <tr th:each="csc : ${csclist}">
            <td th:text="${csc.nick}"></td>
            <td th:text="${csc.description}"></td>
            <td th:text="${csc.parameters}"></td>
        </tr>
    </table>
</body>
</html>