<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Argo jobs detail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Job list</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>DESCRIPRTION</th>
            <th>TIPO</th>
            <th>CATEGORIA</th>
            <th>NUM</th>
            <!--<th>PARAMS</th>-->
        </tr>
        <tr th:each="job : ${jobs}">
            <td th:text="${job.id}"></td>
            <td th:text="${job.nome}"></td>
            <td th:text="${job.description}"></td>
            <td th:text="${job.tipo}"></td>
            <td th:text="${job.categoria}"></td>
            <td th:text="${#lists.size(job.activities)}">0</td>
        </tr>
    </table>
</body>
</html>